
body {
    font-family: 'Hepta Slab', serif;
    font-size: 24px;
    line-height: 32px;
    color: #999;
    background-color: #999;
    text-align: center;
}

.wrapper {
    width: 960px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* the below class includes header, nav and footer sections. */
.notContent {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
}

.footer {
    clear: both;

}

/* the below classes includes the section, article, heading, and paragraph sections */

.contentSection {
    width: 73%;
    float: left;
}

.sectionBox {
    background-color: #eee;
    height: 200px;
}

.articleBox {
    background-color: #999;
    color: #eee;
}

.headingsBox, 
.paraBox {
    background-color: #eee;
}

/* the below classes include the aside  */

.contentAside {
    background-color: #eee;
    float: left;
    width: 25%;
    margin: 32px 0 5px 10px;
    height: 200px;
}
